{% load static %}

<footer id="footer" class="footer">
    <div class="footer-wrapper">

        <div class="footer-links">
            <h3 class="footer-heading">Info</h3>
            <ul role="list" class="info-list">
                <li><a href="#" class="nav-item">About Us</a></li>
                <li><a href="#" class="nav-item">Refund Policy</a></li>
                <li><a href="#" class="nav-item">Shipping Policy</a></li>
                <li><a href="#" class="nav-item">Terms of Service</a></li>

            </ul>
        </div>
        <div class="logo">
            <div>
                <img class="logo-img" src="{% static 'images/MyClayWorldLogo.png' %}" alt="logo">
            </div>
            <a href="#" class="logo-link">My Clay World</a>
            <h4 class="reserved">© 2023 - Vlad Iliev</h4>
        </div>
        <div class="footer-links">
            <h3 class="footer-heading"> Follow me</h3>
            <div class="icons-wrapper">
                <ul role="list" class="social-icons-list">
                    <li><a href="#"><i class="fab fa-instagram nav-item"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube nav-item"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok nav-item"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f nav-item"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>