/* <---------------------------- INDEX ---------------------------->*/
/* <---------------------------------------------------------------->*/


/* <-------Hero-------> */
.hero .hero-img {
    height: 90vh;
    width: 100%;
}

.hero .hero-img img {
    width: 100%;
    height: 100%;
}

.section-split {
    height: 50px;
    background-color: white;
}

/* <-------EXPLORE-------> */

.explore h2 {
    text-align: center;
    font-family: var(--main-font);
    font-size: 2.5rem;
    color: var(--dark-pink);
    margin: 16px 0;

}

.explore .explore-container {
    height: 400px;
    padding: 50px 0;
}

.explore .card-container {
    display: flex;
    justify-content: center;

}

/* <-------CARDS-------> */

.explore .card {
    height: 300px;
    width: 300px;
    padding: 8px;
    margin: 8px;
    font-family: var(--main-font);
    color: var(--dark-pink);
    text-align: center;
}

.explore .card-img {
    height: 80%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.explore .card-img img {
    object-fit: cover;
    height: 100%;
}

.explore .card-heading{
    font-size: 0.9em;
}
.explore .card-price {
    font-size: 1.2rem;
}

/* <-------CARD HOVER-------> */

.explore .card:hover {
    box-shadow: 0px 4px 20px 0px #00000049;
    cursor: pointer;
    border-radius: 8px;
}



/* <-------CATEGORIES-------> */

.categories h2 {
    text-align: center;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: var(--dark-pink);
    margin: 16px 0;

}

.categories .categories-container {
    height: 400px;
    padding: 50px 0;
}

.categories .categories-card-container {
    display: flex;
    justify-content: center;

}

/* <-------CATEGORY CARDS-------> */

.categories .category-card {
    height: 300px;
    width: 300px;
    padding: 8px;
    margin: 8px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-pink);
}

.categories .category-card-img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.categories .category-card-img img {
    object-fit: cover;
    height: 100%;
}

.categories .category-card-heading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100%;
    background-color: #0000000a;
    border-radius: 8px;
}

.categories .category-card-heading {
    color: var(--main-yellow);
    font-family: var(--main-font);
    font-size: 2rem;
}

/* <-------CATEGOTIES CARD HOVER-------> */
.categories .category-card-heading:hover {
    background-color: #000000b0;
    box-shadow: 0px 4px 20px 0px #00000079;
    cursor: pointer;
}
