{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <section class="cart">
        <div class="cart-heading">
            <h2>Shopping Cart</h2>
        </div>
        <div>
            <a href="{% url 'store' %}" class="head-back"><i class="fa-solid fa-arrow-left-long"></i> CONTINUE SHOPPING</a>
        </div>
        <form action="#" method="get" class="shopping-cart-form">

            <div class="cart-container">
                <ul role="list" class="cart-list">
                    <li class="cart-item cart-description">
                        <p class="description">Product</p>
                        <p class="price">Price</p>
                        <p class="quantity">Quantity</p>
                        <p class="total">Total</p>
                    </li>
                    {% for item in items %}
                        <li class="cart-item cart-product">
                        <div class="cart-product-image">
                            <img src=" {{item.product.image_url}} " alt="{{item.product.title }} image">
                        </div>
                        <div class="description cart-product-description">
                            <h3 class="title">
                                {{ item.product.title}}
                            </h3>
                            <span class="variant">
                                Colour: Orange
                            </span>
                        </div>
                        <div class="price cart-product-price">
                            <span>£ {{ item.product.price|floatformat:2 }}</span>
                        </div>
                        <div class="quantity cart-product-quantity">
                            <button type="button"
                                    class="btn quantity-change-btn update-cart"
                                    data-product="{{ item.product.id }}"
                                    data-action="add"
                            >
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                            <p class="display-quantity">{{ item.quantity }}</p>
                            <button
                                    type="button"
                                    class="btn quantity-change-btn update-cart"
                                    data-product="{{ item.product.id }}"
                                    data-action="remove"
                            >
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                            <button
                                    type="button"
                                    class="btn remove-product update-cart"
                                    data-product="{{ item.product.id }}"
                                    data-action="set-to-zero"
                            >
                                <i class="fa-solid fa-xmark"></i> Remove
                            </button>
                        </div>
                        <div class="total cart-product-total">
                            <span>£ {{ item.get_total|floatformat:2 }}</span>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="cart-subtotal-container">
                <div class="policies-container">
                    <p>VAT included. <a href="#">Shipping</a> calculated at checkout.</p>
                </div>
                <div class="subtotal-container">
                    <p class="subtotal-text">SUBTOTAL :</p>
                    <p class="subtotal-price">£ {{ order.get_cart_total|floatformat:2 }} GBP</p>
                </div>
            </div>
            <div class="to-checkout-container">
                <button type="submit" class="btn cart-submit-btn">Continue To Checkout</button>
            </div>
        </form>
    </section>





{% endblock %}