{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <section class="hero">
        <div class="hero-img">
            <img src="{% static 'images/20230911_140404.jpg' %}" alt="welcome hands">
        </div>
    </section>
    <div class="section-split"></div>

    <section class="explore">
        <h2>EXPLORE OUR LATEST PRODUCTS</h2>
        <div class="explore-container">
            <div class="card-container">
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/Earrings.jpg' %}" alt="earings">
                    </div>
                    <h3 class="card-heading">Cute Oranges Earings</h3>
                    <h3 class="card-price">£ 9.99</h3>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/Earrings.jpg' %}" alt="earings">
                    </div>
                    <h3 class="card-heading">Cute Oranges Earings</h3>
                    <h3 class="card-price">£ 9.99</h3>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/Earrings.jpg' %}" alt="earings">
                    </div>
                    <h3 class="card-heading">Cute Oranges Earings</h3>
                    <h3 class="card-price">£ 9.99</h3>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/Earrings.jpg' %}" alt="earings">
                    </div>
                    <h3 class="card-heading">Cute Oranges Earings</h3>
                    <h3 class="card-price">£ 9.99</h3>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/Earrings.jpg' %}" alt="earings">
                    </div>
                    <h3 class="card-heading">Cute Oranges Earings</h3>
                    <h3 class="card-price">£ 9.99</h3>
                </div>
            </div>
        </div>

    </section>

    <div class="section-split"></div>

    <section class="categories">
        <h2>SHOP BY CATEGORY</h2>
        <div class="categories-container">
            <div class="categories-card-container">
                <div class="category-card">
                    <div class="category-card-img">
                        <img src="{% static 'images/Charms.jpg' %}" alt="charm img">
                    </div>
                    <div class="category-card-heading">
                        <h3>Charms</h3>
                    </div>

                </div>
                <div class="category-card">
                    <div class="category-card-img">
                        <img src="{% static 'images/Charms.jpg' %}" alt="charm img">
                    </div>
                    <div class="category-card-heading">
                        <h3>Charms</h3>
                    </div>

                </div>
                <div class="category-card">
                    <div class="category-card-img">
                        <img src="{% static 'images/Charms.jpg' %}" alt="charm img">
                    </div>
                    <div class="category-card-heading">
                        <h3>Charms</h3>
                    </div>

                </div>
                <div class="category-card">
                    <div class="category-card-img">
                        <img src="{% static 'images/Charms.jpg' %}" alt="charm img">
                    </div>
                    <div class="category-card-heading">
                        <h3>Charms</h3>
                    </div>

                </div>
                <div class="category-card">
                    <div class="category-card-img">
                        <img src="{% static 'images/Charms.jpg' %}" alt="charm img">
                    </div>
                    <div class="category-card-heading">
                        <h3>Charms</h3>
                    </div>

                </div>
            </div>
        </div>
    </section>




{% endblock %}