{% extends 'base/base.html' %}
{% load static %}


{% block page_content %}
    <section class="shop">
        <div class="shop-heading">
            <h2>ALL PRODUCTS</h2>
        </div>
        <div class="product-container">
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %}" alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %} " alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %}" alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %}" alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %}" alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %}" alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %}" alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %}" alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
            <div class="product-card">
                <div class="product-img">
                    <img src="{% static 'images/Earrings.jpg' %}" alt="oranges">
                </div>
                <h3 class="product-heading">Cute Oranges Earings</h3>
                <h3 class="product-price">£ 9.99</h3>
            </div>
        </div>
    </section>

{% endblock %}