{% extends 'base/base.html' %}
{% load static %}


{% block page_content %}
    <section class="shop">
        <div class="shop-heading">
            <h2>ALL PRODUCTS</h2>
        </div>
        <div class="product-container">

            {% for product in products %}
                <div class="product-card">
                    <div class="product-img">
                        <img src="{{ product.image_url }}" alt="{{ product.title }} image">
                    </div>
                    <h3 class="product-heading">{{ product.title }}</h3>
                    <h3 class="product-price">£ {{ product.price|floatformat:2 }}</h3>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}