.cart .btn{
    border: none;
    background-color: unset;
    color: var(--dark-pink);
    cursor: pointer;
}
.cart a{
    text-decoration: none;
    color: var(--dark-pink);
    font-family: var(--main-font);
}

.cart .cart-heading{
    font-family: var(--main-font);
    color: var(--dark-pink);
    font-size: 24px;
    background-color: var(--main-pink);
    margin: 36px 10vw;
    border-radius: 36px;
    text-align: center;
}

.cart .head-back{
    margin: 0 10vw;
}


.cart .shopping-cart-form{
    font-family: var(--main-font);
    background-color: var(--main-pink);
    margin: 36px 10vw 10vh 10vw;
    padding: 36px;
    border-radius: 36px;
}

.cart .cart-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    border-bottom: 1px solid var(--dark-pink);
}

.cart .shopping-cart-form .description{
    flex-grow: 1;
}
.cart .shopping-cart-form .price{
    min-width: 15vw;
}
.cart .shopping-cart-form .quantity{
    min-width: 15vw;
}
.cart .shopping-cart-form .total{
    min-width: 10vw;
    text-align: end;
}


.cart .cart-product-image{
    height: 160px;
    width: 160px;
    padding: 8px;
}

.cart .cart-product img{
    object-fit:cover;
    height: 100%;  
}

.cart .cart-product-quantity{
    display: flex;
    align-items: start;
}
.cart .cart-product-quantity .remove-product{
    margin-left: 16px;
}






.cart .cart-subtotal-container{
    display: flex;
    justify-content: space-between;
}

.cart .subtotal-container{
    min-width: 10vw;
}
.cart .subtotal-text{
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-pink);
}
.cart .subtotal-container p{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}



.cart .to-checkout-container{
    text-align: end;
    margin: 16px 0;
}

.cart .cart-submit-btn{
    
    border-radius: 32px;
    padding: 8px 32px;
    font-size: 24px;
    background-color: var(--dark-pink);
    color: var(--main-pink);
}